/* CSS HEX */
:root {
	--space-cadet: #151e3f;
	--oxford-blue: #030027;
	--beige: #f2f3d9;
	--antique-brass: #dc9e82;
	--fuzzy-wuzzy: #c16e70;

	/* CSS HEX */
	--dark-purple: #32213a;
	--independence: #383b53;
	--dark-electric-blue: #66717e;
	--pale-spring-bud: #d4d6b9;
	--sage: #d1caa1;

	--background: var(--dark-purple);
}

html,
body {
	background-color: var(--background);
	height: 100%;
}

.library {
	height: 100%;
}

.book-card {
	width: 25%;
	height: 50%;
	background-color: var(--oxford-blue);
	border-radius: 1em;
}

.book-title {
	color: var(--pale-spring-bud);
	margin: 1rem;
	padding: 0;
}

.details {
	display: flex;
	margin: 1rem;
	justify-content: space-between;
	color: var(--sage);
}

button {
	background-color: var(--fuzzy-wuzzy);
	color: var(--oxford-blue);
	border: solid 0px;
	font-size: 2em;
	font-weight: 800;
	height: 1.5em;
	width: 1.5em;
	border-radius: 50%;
}
